@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body{

   
    display: flex;
  
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    
   

    padding: 35px;
    gap: 100px;


    background-color: rgb(0, 0, 0) ;
 
    
    
    
    
    
    
    
}

.container{
    
   
    background-color: rgb(0, 0, 0);
    padding: 2px 2px 2px 2px;
    border-radius: 30px;
    color: white;
    text-align: center;
    height: 570px; width: 350px;
    box-shadow: 0px 0px 0px 0.5px rgb(146, 146, 146);
    flex-direction: column;
    gap: 15px;
    display: block;

    
    
    
    
    
    
  
    

  
    

   

}


.avatar{


    width: 120px; height: 120px;
    border-radius: 100px;
    padding: 10px;
     transition: width 0.2s ease, height 0.2s ease;
   

}


.nick{
    font-size: 150%;
    font-family: Lato;
   
}

.Nazwa{


    font-family: Montserrat;
    margin-top: -5%;
    
}

.Suby{
    
    margin-bottom: 90px;
    font-family: Montserrat;
    margin-top: -5%;
     margin-bottom: 15%;
    
}

.Subskrypcje{
    font-size: 150%;
    font-family: Lato;
   
    
}

.container a{


    font-family: Montserrat;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-weight: bold;
    padding: 10px 35px;

}










.zdjecieyoutube{

    margin: -13% -20px -40%;
    background-color: rgb(0, 0, 0);
    width: 50px; height: 50px;
    padding: 0 100px;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    

    
    
}


.twitterPhoto:hover{

    background-color: rgb(0, 119, 255);
    transition: 0.5s;
}


.avatar:hover{

    width: 125px; height: 125px;
    transition: 0.3;
    transition-duration: 0.2s;
    border: 5px white;
    
    
}


.twitterPhoto{

    margin: -13%;
    background-color: rgb(0, 0, 0);
    width: 50px; height: 50px;
    padding: 0 100px;
    border-radius: 20px;
    transition: background-color 0.5s ease;

    
    
}

.zdjecieyoutube:hover{

    background-color: red;
    transition: 0.5s;
}


footer {
    width: 100%;
    text-align: center;
    font-family: Lato;
    border: 10px black;
    font-size: 170%;
    
   
    
}

.Maintext{

    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-size: 130%;
    display: flex;
    gap: 8px;
    align-content: center;
    justify-content: center;
    color: white;
    
    
}


.info{

    
    background-color: rgb(0, 0, 0);
    padding: 15px 35px;
    width: 100%;
    color: white;
    border-radius: 15px;
    
    
    
   
    
    
}

.Maintext2{

    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-size: 130%;
    display: flex;
    gap: 8px;
    align-content: center;
    justify-content: center;
    color: white;
    

}


.faceboko{

  
    color: blue;
    text-shadow: 1px 1px 150px rgb(0, 60, 255);
    
}



.yt{

    color: red;
    text-shadow: 1px 1px 150px rgb(255, 0, 0);
    
}









.info footer p{
 
    font-size: 70%;
    font-family: Montserrat;
}


.mainp{

color: white;
font-family: Montserrat;
font-size: 120%;
text-align: center;

}

.text2{

    text-align: center;
    font-size: 80%;
    font-family: Montserrat;
    font-style: italic;
}


.topka{

    color: white;
    text-align: center;
    
}

.szukaj{

    background-color:white;
    border-style: none;
    border-radius: 15px;
    padding: 15px 100px;
    font-family: Lato;
    text-align: left;
    justify-content: center;
    transition: border-radius 0.7s ease;
    
    
    


}



.szukaj:hover{


    border-radius: 35px;
    transition: 0.7s;

    transform-origin: 0.7s;
}





